<h1 class="text-center">{$DUTY}</h1>
<table class="table table-bordered table-hover text-center">
    <thead style="font-size: 1.2em">
    <td></td>
    <td>星期一</td>
    <td>星期二</td>
    <td>星期三</td>
    <td>星期四</td>
    <td>星期五</td>
    </thead>
    <tr>
        <td>第一节<br>(8:00-9:40)</td>
        <td>{$duty[0][1]}</td>
        <td>{$duty[0][2]}</td>
        <td>{$duty[0][3]}</td>
        <td>{$duty[0][4]}</td>
        <td>{$duty[0][5]}</td>
    </tr>
    <tr>
        <td>第二节<br>(10:20-12:00)</td>
        <td>{$duty[1][1]}</td>
        <td>{$duty[1][2]}</td>
        <td>{$duty[1][3]}</td>
        <td>{$duty[1][4]}</td>
        <td>{$duty[1][5]}</td>
    </tr>
    <tr>
        <td>第三节<br>(14:00-15:40)</td>
        <td>{$duty[2][1]}</td>
        <td>{$duty[2][2]}</td>
        <td>{$duty[2][3]}</td>
        <td>{$duty[2][4]}</td>
        <td>{$duty[2][5]}</td>
    </tr>
    <tr>
        <td>第四节<br>(16:20-18:00)</td>
        <td>{$duty[3][1]}</td>
        <td>{$duty[3][2]}</td>
        <td>{$duty[3][3]}</td>
        <td>{$duty[3][4]}</td>
        <td>{$duty[3][5]}</td>
    </tr>
</table>
<div class="panel panel-info">
    <div class="panel-heading">Tips:</div>
    <div class="panel-body">
        <ol>
            <li>括号内时间对应上课时间，仅作为参考</li>
            <li>为了便于交接，请值下一班的同学早点来网站</li>
            <li>值早上第一班的同学记得要提前一天来网站拿钥匙 ^_^</li>
        </ol>
    </div>
</div>
