<div style="width: 300px; margin: 20px auto;">
<form action="/login" method="post">
    <h2>Login：</h2>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="account" class="form-control" placeholder="Username" autofocus="autofocus">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-paperclip"></i></span>
        <input type="password" name="password" class="form-control" placeholder="Password" required="required">
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
</div>