<h1 class="text-center">{$SCHEDULE}</h1>
<table class="table table-bordered table-hover text-center">
    <thead style="font-size: 1.2em">
    <td></td>
    <td>星期一</td>
    <td>星期二</td>
    <td>星期三</td>
    <td>星期四</td>
    <td>星期五</td>
    </thead>
    <tr>
        <td>第一节<br>(8:00-9:40)</td>
        <td>{$empSch[0]['mon']}</td>
        <td>{$empSch[0]['tue']}</td>
        <td>{$empSch[0]['wed']}</td>
        <td>{$empSch[0]['thu']}</td>
        <td>{$empSch[0]['fri']}</td>
    </tr>
    <tr>
        <td>第二节<br>(10:20-12:00)</td>
        <td>{$empSch[1]['mon']}</td>
        <td>{$empSch[1]['tue']}</td>
        <td>{$empSch[1]['wed']}</td>
        <td>{$empSch[1]['thu']}</td>
        <td>{$empSch[1]['fri']}</td>
    </tr>
    <tr>
        <td>第三节<br>(14:00-15:40)</td>
        <td>{$empSch[2]['mon']}</td>
        <td>{$empSch[2]['tue']}</td>
        <td>{$empSch[2]['wed']}</td>
        <td>{$empSch[2]['thu']}</td>
        <td>{$empSch[2]['fri']}</td>
    </tr>
    <tr>
        <td>第四节<br>(16:20-18:00)</td>
        <td>{$empSch[3]['mon']}</td>
        <td>{$empSch[3]['tue']}</td>
        <td>{$empSch[3]['wed']}</td>
        <td>{$empSch[3]['thu']}</td>
        <td>{$empSch[3]['fri']}</td>
    </tr>
    <tr>
        <td>第五节<br>(18:40-20:20)</td>
        <td>{$empSch[4]['mon']}</td>
        <td>{$empSch[4]['tue']}</td>
        <td>{$empSch[4]['wed']}</td>
        <td>{$empSch[4]['thu']}</td>
        <td>{$empSch[4]['fri']}</td>
    </tr>
    <tr>
        <td>第六节<br>(20:40-22:00)</td>
        <td>{$empSch[5]['mon']}</td>
        <td>{$empSch[5]['tue']}</td>
        <td>{$empSch[5]['wed']}</td>
        <td>{$empSch[5]['thu']}</td>
        <td>{$empSch[5]['fri']}</td>
    </tr>
</table>
<div class="panel panel-info">
    <div class="panel-heading">Tips:</div>
    <div class="panel-body">
        <ol>
            <li>括号内时间对应上课时间，仅作为参考</li>
            <li>为了便于交接，请值下一班的同学早点来网站</li>
            <li>值早上第一班的同学记得要提前一天来网站拿钥匙 ^_^</li>
        </ol>
    </div>
</div>